
<div class="collectionWrapper">
  <div class="d-flex justify-content-between">
    <h4><%= collection.name %></h4>
    <%= link_to edit_collection_path(collection) do %>
      <i class="fas fa-edit ms-2"></i>
    <% end %>
  </div>

  <hr>
  <p>Members:</p>
  <ul>
    <% collection.user_groups.each do |user_group| %>
      <li><%= user_group.user.email %></li>
    <% end %>
  </ul>
  <hr>
  <%= link_to "Enter", set_collection_path(collection), class: "btn btn-success" %>
</div>

