<%= link_to "New collection", new_collection_path, class: "btn btn-primary" %>

<div class="collectionContainer">
  <% @collections.each do |collection| %>
    <%= render partial: "collection", locals: {collection: collection} %>
  <% end %>
</div>

<p>Collections: <%= @collections.count %></p>
