<div class="row m-0 p-0 py-5 justify-content-center">
  <div class="col-12 col-md-4 col-lg-3 p-0 p-md-2">
    <div class="white-container">
      <%= render partial: "form", locals: {collection: @collection} %>
    </div>
  </div>
</div>
