<% if records.any? %>
  <h5><%= name.capitalize %></h5>
  <% records.each do |record| %>
    <div class="search-checkboxContainer">
      <%= check_box_tag "#{name}[][#{record.name}]", {}, searched.include?(record.name) %>
      <span><%= record.name %></span>
    </div>
  <% end %>
<% else %>
  <small>No <%= name %> created.</small>
<% end %>
