
<h5><%= feature_type.name.capitalize %></h5>
<% feature_type.features.each do |feature| %>
  <div class="search-checkboxContainer">
    <%= check_box_tag "#{feature_type.name}[][#{feature.name}]", {}, searched.include?(feature.name) %>
    <span><%= feature.name %></span>
  </div>
<% end %>
