<div class="cmsEntity-containerItem">
  <div class="d-flex justify-content-between align-items-center">
    <h6 class="m-0"><%= feature.name %></h6>
    <%= feature.feature_ticket_type %>
  </div>
  <hr class="mb-0">
  <div class="d-flex justify-content-end align-items-center mt-2">
     <%= link_to edit_feature_path(feature) do %>
      <i class="fas fa-edit ms-2"></i>
    <% end %>
    <%= link_to feature_path(feature), data: {confirm: "Are you sure?"}, method: :delete do %>
      <i class="fas fa-trash icon"></i>
    <% end %>
  </div>
</div>
