<h1>CMS</h1>

<div class="row m-0 p-0">

  <div class="col-3 border-right">
    <div class="cmsEntity-container cms-category">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0"><b>Categories</b></h6>
        <span><%= @categories.count %></span>
      </div>
    </div>

    <button class="btn btn-info container-fluid mt-3">
      New
    </button>

    <div class="cmsEntity-containerItem">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0">MHP</h6>
        <span></span>
      </div>
    </div>

  </div>

  <div class="col-3 border-right">
    <div class="cmsEntity-container cms-staff">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0"><b>Staff</b></h6>
        <span><%= @categories.count %></span>
      </div>
    </div>
  </div>


</div>
