<div class="col-12 p-0 dailySummary-container">
  <h3>Day Summary</h3>
  <p>Random Random Random Random Random Random Random Random RandomRandom Random RandomRandom Random RandomRandom Random RandomRandom Random Random Random Random Random Random Random Random Random Random Random Random Random Random</p>
</div>

<div class="col-12 p-0">

  <div class="calendar-container">

    <div data-day="monday" class="calendar-dayContainer calendar-open">
      <h6>Mon</h6>
      <div class="calendar-timeSheet">

      </div>
    </div>

    <div data-day="tuesday" class="calendar-dayContainer calendar-closed">
      <h6>Tues</h6>
      <div class="calendar-timeSheet">

      </div>
    </div>

    <div data-day="webnesday" class="calendar-dayContainer calendar-closed">
      <h6>Wed</h6>
      <div class="calendar-timeSheet">

      </div>
    </div>

    <div data-day="thursday" class="calendar-dayContainer calendar-closed">
      <h6>Thur</h6>
      <div class="calendar-timeSheet">

      </div>
    </div>

    <div data-day="friday" class="calendar-dayContainer calendar-closed">
      <h6>Fri</h6>
      <div class="calendar-timeSheet">

      </div>
    </div>

    <div data-day="saturday" class="calendar-dayContainer calendar-closed">
      <h6>Sat</h6>
      <div class="calendar-timeSheet">

      </div>
    </div>

    <div data-day="sunday" class="calendar-dayContainer calendar-closed">
      <h6>Sun</h6>
      <div class="calendar-timeSheet">

      </div>
    </div>

  </div>

</div>

<%= content_for :scripts do %>
  <%= javascript_pack_tag "calendar" %>
<% end %>
