<div class="col-12 p-0 dailySummary-container">
  <h1><b>Monday's</b> Summary!</h1>
  <p>Random Random Random Random Random Random Random Random RandomRandom Random RandomRandom Random RandomRandom Random RandomRandom Random Random Random Random Random Random Random Random Random Random Random Random Random Random</p>
</div>

<div class="col-12 p-0">
  <div class="calendar-container">
    <% @week_tickets.each do |day, tickets| %>
      <%= render partial: "calendar_day", locals: {day: day, tickets: tickets} %>
    <% end %>
  </div>
</div>

<%= content_for :scripts do %>
  <%= javascript_pack_tag "calendar" %>
<% end %>

<script>


  // loop through every day in the week

  // adding each ticket to the correct hour



</script>
