<div class="col-12 p-0 dailySummary-container">
  <div class="row m-0 p-0">
    <div class="col-6 ps-0">
      <div class="white-container">
        <h1><b>Monday's</b> Summary!</h1>
        <p>This will just be my end of day information.</p>
      </div>
    </div>
    <div class="col-6 pe-0">
      <div class="white-container">
        <h1><b>Monday's</b> Stats</h1>
        <ul>
          <li>MHP - 45 mins</li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="col-12 p-0">
  <div class="calendar-container">
    <% @week_tickets.each do |day, tickets| %>
      <%= render partial: "calendar_day", locals: {day: day, tickets: tickets} %>
    <% end %>
  </div>
</div>

<%= content_for :scripts do %>
  <%= javascript_pack_tag "calendar" %>
<% end %>

<script>


  // loop through every day in the week

  // adding each ticket to the correct hour



</script>
