<div class="row m-0 p-0">
  <div class="col-12 col-lg-9 m-0 p-0">

    <div class="row m-0 px-4">
      <div class="col-12 d-flex justify-content-between p-0 py-3 m-0 homeSearch-container">
        <h4>Home</h4>
        <div class="search-container">
          <input type="text">
        </div>
      </div>

      <div class="col-12 p-0 dailySummary-container">
        <h3>Day Summary</h3>
        <p>Random Random Random Random Random Random Random Random RandomRandom Random RandomRandom Random RandomRandom Random RandomRandom Random Random Random Random Random Random Random Random Random Random Random Random Random Random</p>
      </div>

      <div class="col-12">
        <%= render partial: "week_calendar" %>
      </div>
    </div>

  </div>
  <div class="col-12 col-lg-3 rightSide-container">

    <div class="profileDetails-container">
      <div>
        <h6 class="profileDetails-name">Alex Ford</h6>
        <p class="profileDetails-jobTitle">Web developer</p>
      </div>
      <%= image_tag("icons/home_icon.png") %>
    </div>

    <%= select_tag("Manufacturer", options_for_select(date_input(10)), {class: "form-control"}) %>

    <div class="arrow-divider"></div>

    <div class="weeklySummary-container">
      <h4>Week Summary</h4>

      <p>asdf asdf;lkasdf asddlfja falskdjf asf asldk falksd a fl sla sij3qepfom woqw fdfljaslkjaas fas f lk asdlk sadlk ask f </p>
    </div>

  </div>
</div>
