<div class="row m-0 p-0">
  <div class="col-12 col-lg-9 m-0 p-0">

    <div class="row m-0 px-4">
      <div class="col-12 d-flex justify-content-between p-0 py-3 m-0 homeSearch-container">
        <h4>Home</h4>
        <div class="search-container">
          <input type="text">
        </div>
      </div>

      <div class="col-12 m-0 p-0 dailySummary-container">
        <h3>Daily summary</h3>
        <p>Random Random Random Random Random Random Random Random RandomRandom Random RandomRandom Random RandomRandom Random RandomRandom Random Random Random Random Random Random Random Random Random Random Random Random Random Random</p>
      </div>

      <div class="col-12">
        <%= render partial: "week_calendar" %>
      </div>
    </div>

  </div>
  <div class="col-12 col-lg-3 rightSide-container">

    <div class="profileDetails-container">

    </div>

    <div class="weeklySummary-container">

    </div>

  </div>
</div>
