<div class="row m-0 p-0 py-5 justify-content-center">
  <div class="col-10 p-2">
    <div class="white-container">
      <%= render partial: "form", locals: {ticket: @ticket} %>
    </div>
  </div>
</div>
