/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --mainColour: #E67E22;
}

.profiler-results {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(253, 253, 253);
}

.page-container {
    margin-left: 70px;
}

.main-gradient {
    background-image: linear-gradient(
135deg
, rgb(252, 207, 49) 10%, rgb(245, 85, 85) 100%);
}
