@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

.calendar-container {
  display: flex;
  justify-content: flex-start;
}

.calendar-container h6 {
  margin-bottom: 2rem;
}

.calendar-dayContainer {
  overflow: hidden;
  transition: 0.5s;
  background-color: white;
  box-shadow: 0 0 35px 0 rgba(0,0,0,0.08);
  padding: 1rem;
  border-radius: 0.75rem;
  margin-right: 1rem;
  cursor: pointer;
  width: 5.5%;
  min-height: 65vh;
  border: solid white 1px;
}

.calendar-dayContainer:last-of-type {
  margin-right: 0;
}

.calendar-closed {
  width: 5.5%;
  transform: scale(0.9);
  opacity: 0.7;
  filter: blur(3px);
}

.calendar-closed:hover {
  width: 9%;
  filter: blur(0);
}

.calendar-open {
  width: 60%;
  cursor: default;
}

.calendar-timeSheet {
  position: relative;
  height: 650px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.calendar-ticket {
  transition: 0.5s;
  box-sizing: border-box;
  padding: 0.5rem;
  position: absolute;
  overflow: hidden;
  margin-left: 4.5rem;
  margin-right: 0.7rem;
  font-size: 0.8rem;
  border-radius: 10px;
  box-shadow: 0 0 35px 0 rgba(0,0,0,0.0);
}

.calendar-ticket .calendar-title {
  font-family: 'Balsamiq Sans', cursive;
  margin: 0;
}

.calendar-ticket:hover {
  height: fit-content !important;
  z-index: 15;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 35px 0 rgba(0,0,0,0.15);
}

.calendarTicket-wrapper {
  height: 100%;
  border-radius: 10px;
  padding: 1rem;
  border: dashed rgba(255,255,255,0.45) 3px;
  overflow: hidden;
}

.hour-container {
  position: relative;
  height: 60px;
}

.hour-container span {
  position: absolute;
  top: -18px;
  white-space: nowrap;
  font-family: 'Balsamiq Sans', cursive;
}

.hour-container hr {
  margin: 0;
  margin-left: 3.5rem;
  background-color: rgb(163, 163, 163);
}

/* width */
.calendar-timeSheet::-webkit-scrollbar {
  width: 0px;
}
