.cmsEntity-container {
  background-image: linear-gradient(
    135deg
     , var(--mid-bg-colour) 20%, var(--dark-bg-colour) 100%);
  border: solid 1px var(--light-bg-colour);
  box-shadow: 0 0 35px 0 rgba(0,0,0,0.08);
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.cmsEntity-container span {
  padding: 0.2rem 0.5rem;
  background-color: var(--dark-bg-colour);
  border: solid 1px var(--light-bg-colour);
  border-radius: 3px;
  color: var(--text-colour);
}

.cmsEntity-containerItem {
  transition: 0.5s;
  height: 43px;
  background-image: linear-gradient(
    135deg
     , var(--mid-bg-colour) 20%, var(--dark-bg-colour) 100%);
  border: solid 1px var(--light-bg-colour);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  padding: 0.75rem;
  border-radius: 5px;
  margin: 1rem 0;
  overflow: hidden;
}

.cmsEntity-containerItem:hover {
  height: 90px;
}

.cmsEntity-containerItem img {
  width: 30px;
  height: 30px;
  margin-left: 0.25rem;
}

.cmsEntity-containerItem img:hover {
  cursor: pointer;
}

.cmsEntity-containerItem span {
  padding: 0.5rem;
  background-color: green;
  border-radius: 3px;
}

.cms-category {
  border-top: #9dc082 5px solid;
}

.cms-members {
  border-top: #54807e 5px solid;
}

.cms-subjects {
  border-top: #ef822d 5px solid;
}

.cms-languages {
  border-top: #c06ec8 5px solid;
}

.border-right {
  border-right: solid rgb(225, 228, 230) 1px;
}

.icon {
  cursor: pointer;
  font-size: 1.4rem;
  margin-left: 0.5rem;
  color: #ccc;
}

.icon:hover {
  color: rgb(255, 166, 0);
}
