.cmsEntity-container {
  background-color: white;
  box-shadow: 0 0 35px 0 rgba(0,0,0,0.08);
  padding: 0.5rem;
  border-radius: 5px;
}

.cmsEntity-container span {
  padding: 0.2rem 0.5rem;
  background-color: #eceef0;
  border-radius: 3px;
  color: #757779;
}

.cmsEntity-containerItem {
  transition: 0.5s;
  height: 43px;
  background-color: white;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  padding: 0.75rem;
  border-radius: 5px;
  margin-top: 1rem;
  overflow: hidden;
}

.cmsEntity-containerItem:hover {
  height: 90px;
}

.cmsEntity-containerItem img {
  width: 30px;
  height: 30px;
  margin-left: 0.25rem;
}

.cmsEntity-containerItem img:hover {
  cursor: pointer;
}

.cmsEntity-containerItem span {
  padding: 0.5rem;
  background-color: green;
  border-radius: 3px;
}

.cms-category {
  border-top: #9dc082 5px solid;
}

.cms-members {
  border-top: #54807e 5px solid;
}

.cms-subjects {
  border-top: #ef822d 5px solid;
}

/* #c06ec8 */

.border-right {
  border-right: solid rgb(225, 228, 230) 1px;
}
