:root {
  --mainColour: #E67E22;
  --main-theme-colour: #E67E22;

  /* light theme */
  --dark-bg-colour:#fafcff;
  --mid-bg-colour: #ffffff;
  --light-bg-colour: #ffffff;
  --text-colour: rgb(0, 0, 0);
  --shadow-opacity: 0.1;
  --glow-opacity: 0;
}
