.dailySummary-container {
  margin: 2rem 0;
}

.dailySummary-container p {
  color: rgb(143, 143, 143)
}

.rightSide-container {
  position: fixed;
  top: 0;
  right: -8px;
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(
135deg
 , var(--mid-bg-colour) 20%, var(--dark-bg-colour) 100%);
  box-shadow: 0 0 35px 0 rgba(0,0,0,0.08);
  padding: 1rem;
  border-left: solid 1px var(--light-bg-colour);
}

.profileDetails-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.profileDetails-container .profileDetails-name {
  margin: 0;
  text-align: right;
}

.profileDetails-container .profileDetails-jobTitle {
  font-size: 0.8rem;
  color:rgb(82, 82, 82);
  margin: 0;
  text-align: right;
}

.profileDetails-container img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: solid grey 1px;
  margin-left: 0.75rem;
}

.weeklySummary-container {
  margin-top: 1.5rem;
}

.arrow-divider {
  margin-top: 1.5rem;
  border-bottom: solid 1px rgb(221, 221, 221);
  position: relative;
}

.arrow-divider::after {
  transform: rotateZ(45deg);
  display: inline-block;
  content: "";
  position: absolute;
  left: 47%;
  bottom: -8px;
  width: 15px;
  height: 15px;
  background-color: var(--mid-bg-colour);
  border-right: solid 1px rgb(221, 221, 221);
  border-bottom: solid 1px rgb(221, 221, 221);
}

.arrow-divider-body::after {
  background-color: var(--dark-bg-colour);
}

.date-button {
  background-image: linear-gradient( 135deg, #ffce85 20%, #FA742B 100%);
  color: white;
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 1rem;
}
