
.login-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 1rem;
  color: white;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  box-shadow: -8x 8px 25px 0 rgba(0,0,0,0.08);
}

.login-pageContainer {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  padding: 1.5rem;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 35px 0 rgba(0,0,0,0.0);
  margin: 1rem 0;
  min-width: auto;
}

@media screen and (min-width: 767px) {
  .login-pageContainer {
    background-color: #fafcff;
  }
  .login-wrapper {
    box-shadow: 0 0 35px 0 rgba(0,0,0,0.03);
    padding: 2.5rem;
    margin: 2rem 0;
    min-width: 600px;
  }
}

.signin-button {
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  font-size: 1.1rem;
  margin-top: 1rem;
  background-image: linear-gradient( 135deg, #ffce85 20%, #FA742B 100%);
}

/* 64ac15 */

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;/*your box-shadow*/
  -webkit-text-fill-color: #333;
}

.fa {
  color: #b9b9b9;
}

input,
input[type="radio"] + label,
.normal-checkbox + label:before,
select option,
select {
  width: 100%;
  padding: 13px;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

input:focus {
  outline: 0;
  border-color: #bd8200;
}

input:focus + .input-icon i {
  color: #f0a500;
}

input:focus + .input-icon:after {
  border-right-color: #f0a500;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;

  border-radius: 0;
  cursor: pointer;
}

input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

input[type="radio"] + label i {
  padding-right: 0.4em;
}

input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: #f0a500;
  color: #fff;
  border-color: #bd8200;
}

.normal-checkbox {
  display: none;
}

.normal-checkbox + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}

.normal-checkbox + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}

.normal-checkbox + label:after {
  position: absolute;
  top: -3px;
  left: 0em;
  font-size: 1.2em;
  color: #fff;
  opacity: 0;
  content: "\2713";
}

input:checked + label:after {
  opacity: 1;
}

.input-group {
  margin-bottom: 1em;
}

.input-group-icon {
  position: relative;
}

.input-group-icon input {
  padding: 13px;
  padding-left: 4.4em;
}

.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}

.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/* word checkbox */

.word-checkbox + label,
.word-checkbox + label:before {
  padding: 10px 15px;
  line-height: 1.4;
  color: orange;
  background-color: #f9f9f9;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.word-checkbox {
  display: none;
}

.word-checkbox + label {
  text-align: center;
  border-radius: 70px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}

.word-checkbox + label i {
  padding-right: 0.4em;
}

.word-checkbox:checked + label,
input:checked + label:before {
  background-color: #f0a500;
  color: #fff;
  border-color: #bd8200;
}

.large-textArea {
  min-height: 150px !important;
}
