nav {
    width: 70px;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 35px 0 rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
    z-index: 5;
}

.logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 1rem;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.25rem;
}

nav .navList-item {
    width: 110px;
}

nav a .navLink-selected {
    color: var(--mainColour) !important;
}

nav .navList-item a {
    text-decoration: none;
    display: flex;
    align-items: baseline;
}

nav .navList-item img {
    width: 35px;
    height: 35px;
}

nav .navList-item span {
    margin-left: 1.3rem;
    position: relative;
    bottom: 4px;
    color: #CCCCCC;
}

/* navigation hover */

nav:hover {
    width: 185px;
}
