@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

.ticket-table tr:first-child {
  background-color: #f4f8f9;
  font-weight: 700;
}

.ticket-table tr:first-child:hover {
  background-color: #f4f8f9;
}

.ticket-table tr {
  transition: 0.1s;
}

.ticket-table tr:hover {
  background-color: rgb(255, 234, 200);
  cursor: pointer;
}

.ticket-table td {
  padding: 0.75rem;
}

.category-block {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: solid grey 1px;
}

.notes-subjectContainer span::after {
  content: ", "
}

.notes-subjectContainer span:last-child::after {
  content: ""
}

.member-wrapper {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-family: 'Balsamiq Sans', cursive;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.member-wrapper span {
  font-size: 1.05rem;
  position: relative;
  top: 2px;
}

