@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

.ticket-table tr:first-child {
  background-color: var(--dark-bg-colour);
  font-weight: 700;
}

.ticket-table tr {
  transition: 0.1s;
  font-size: 0.85rem;
}

.ticket-table tr:nth-child(odd) {
  background-color: var(--dark-bg-colour);
}

.ticket-table td {
  padding: 0.75rem;
}

.category-block {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: solid grey 1px;
}

.notes-subjectContainer span::after {
  content: ", "
}

.notes-subjectContainer span:last-child::after {
  content: ""
}

.member-wrapper {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-family: 'Balsamiq Sans', cursive;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.member-wrapper span {
  font-size: 1.05rem;
  position: relative;
  top: 2px;
}

.notes-filterContainer .input-group-icon {
  width: 100% !important;
  margin-right: 1rem;
}

.notes-filterContainer .btn {
  width: 100% !important;
}

@media screen and (min-width: 767px) {
  .notes-filterContainer {
    display: flex;
    justify-content: flex-start;
  }
  .notes-filterContainer .btn {
    width: 15% !important;
  }
  .notes-filterContainer .input-group-icon {
    width: 15% !important;
  }
}

.search-checkboxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-checkboxContainer input[type="checkbox"] {
  margin-right: 0.5rem;
  width: 13px;
}

.notes-table {
  font-size: 0.7rem;
}

.notes-table th {
  padding: 2px;
}

.notes-table td {
  padding: 2px;
}

.notes-ticketWrapper {
  background-image: linear-gradient(135deg, var(--mid-bg-colour) 20%, var(--dark-bg-colour) 100%);
  border: solid 1px var(--border-colour);
  box-shadow: 0 0 13px 0 rgba(0,0,0,var(--shadow-opacity));
  padding: 0.75rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
}
