.ticket-table tr:first-child {
  background-color: #f4f8f9;
  font-weight: 700;
}

.ticket-table td {
  padding: 0.75rem;
}

.category-block {
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

.notes-subjectContainer span::after {
  content: ", "
}

.notes-subjectContainer span:last-child::after {
  content: ""
}
